---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import "../../public/assets/scss/styles.scss";
import "../../public/assets/css/styles.css";
---

<Layout title="Welcome to Dharma's page">
    <!--===== HEADER =====-->
    <header class="l-header">
        <nav class="nav bd-grid">
            <div>
                <a href="#" class="nav__logo">Dharma</a>
            </div>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="#home" class="nav__link active">Home</a>
                    </li>
                    <li class="nav__item">
                        <a href="#about" class="nav__link">About</a>
                    </li>
                    <li class="nav__item">
                        <a href="#skills" class="nav__link">Skills</a>
                    </li>
                    <li class="nav__item">
                        <a href="#work" class="nav__link">Work</a>
                    </li>
                    <li class="nav__item">
                        <a href="#articles" class="nav__link">Articles</a>
                    </li>
                </ul>
            </div>

            <div class="nav__toggle" id="nav-toggle">
                <i class="bx bx-menu"></i>
            </div>
        </nav>
    </header>

    <main class="l-main">
        <!--===== HOME =====-->
        <section class="home bd-grid" id="home">
            <div class="home__data">
                <h1 class="home__title">
                    Hi,<br />I'am <span class="home__title-color"
                        >Dharma
                    </span><br /> Software Engineer
                </h1>
            </div>

            <div class="home__social">
                <a
                    href="https://www.linkedin.com/in/sai-dharmendra-kanneganti-00229811b/"
                    class="home__social-icon"
                    ><i class="bx bxl-linkedin"></i>
                </a>
                <a
                    href="https://github.com/dharmendra94"
                    class="home__social-icon"
                    ><i class="bx bxl-github"></i>
                </a>
                <a
                    href="https://twitter.com/saiDharmendraK"
                    class="home__social-icon"
                    ><i class="bx bxl-twitter"></i>
                </a>
            </div>

            <div class="home__img">
                <svg
                    class="home__blob"
                    viewBox="0 0 479 467"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                >
                    <mask id="mask0" mask-type="alpha">
                        <path
                            d="M9.19024 145.964C34.0253 76.5814 114.865 54.7299 184.111 29.4823C245.804 6.98884 311.86 -14.9503 370.735 14.143C431.207 44.026 467.948 107.508 477.191 174.311C485.897 237.229 454.931 294.377 416.506 344.954C373.74 401.245 326.068 462.801 255.442 466.189C179.416 469.835 111.552 422.137 65.1576 361.805C17.4835 299.81 -17.1617 219.583 9.19024 145.964Z"
                        ></path>
                    </mask>
                    <g mask="url(#mask0)">
                        <path
                            d="M9.19024 145.964C34.0253 76.5814 114.865 54.7299 184.111 29.4823C245.804 6.98884 311.86 -14.9503 370.735 14.143C431.207 44.026 467.948 107.508 477.191 174.311C485.897 237.229 454.931 294.377 416.506 344.954C373.74 401.245 326.068 462.801 255.442 466.189C179.416 469.835 111.552 422.137 65.1576 361.805C17.4835 299.81 -17.1617 219.583 9.19024 145.964Z"
                        ></path>
                        <image
                            class="home__blob-img"
                            x="50"
                            y="60"
                            href="assets/img/profile_pic.jpeg"
                        />
                    </g>
                </svg>
            </div>
        </section>

        <!--===== ABOUT =====-->
        <section class="about section" id="about">
            <h2 class="section-title">About</h2>

            <div class="about__container">
                <p class="about__text">
                    Born in India and raised in Hyderabad. Since childhood, I
                    have loved tinkering with software and electronics, which
                    led me to take Computer Science in my Master's degree. I
                    started my programming journey by learning C++ for computer
                    vision research work during my master's and switched my
                    interests to web application development when I first built
                    my website in Oct 2016.
                </p>
            </div>
        </section>

        <!--===== SKILLS =====-->
        <section class="skills section" id="skills">
            <h2 class="section-title">Skills</h2>

            <div class="skills__container bd-grid">
                <div>
                    <h2 class="skills__subtitle">Profesional Skills</h2>
                    <p class="skills__text">
                        In my six years of experience, I have built multiple
                        applications using various technologies. I am mentioning
                        some of them where I have spent most of my time in my
                        career.
                    </p>
                    <div class="skills__data">
                        <div class="skills__names">
                            <i class="bx bxl-angular skills__icon"></i>
                            <span class="skills__name">Angular</span>
                        </div>
                        <div class="skills__bar skills__angular"></div>
                        <div>
                            <span class="skills__percentage">80%</span>
                        </div>
                    </div>
                    <div class="skills__data">
                        <div class="skills__names">
                            <i class="bx bxl-angular skills__icon"></i>
                            <span class="skills__name">React</span>
                        </div>
                        <div class="skills__bar skills__react"></div>
                        <div>
                            <span class="skills__percentage">50%</span>
                        </div>
                    </div>
                    <div class="skills__data">
                        <div class="skills__names">
                            <i class="bx bxl-javascript skills__icon"></i>
                            <span class="skills__name"
                                >JAVASCRIPT & Typescript
                            </span>
                        </div>
                        <div class="skills__bar skills__js"></div>
                        <div>
                            <span class="skills__percentage">80%</span>
                        </div>
                    </div>
                    <div class="skills__data">
                        <div class="skills__names">
                            <i class="bx bxs-paint skills__icon"></i>
                            <span class="skills__name">C#</span>
                        </div>
                        <div class="skills__bar skills__typescript"></div>
                        <div>
                            <span class="skills__percentage">80%</span>
                        </div>
                    </div>
                    <div class="skills__data">
                        <div class="skills__names">
                            <i class="bx bxs-data skills__icon"></i>
                            <span class="skills__name">SQL</span>
                        </div>
                        <div class="skills__bar skills__angular"></div>
                        <div>
                            <span class="skills__percentage">80%</span>
                        </div>
                    </div>
                </div>

                <div>
                    <img src="assets/img/work3.jpg" alt="" class="skills__img"
                    />
                </div>
            </div>
        </section>

        <!--===== WORK =====-->
        <section class="work section" id="work">
            <h2 class="section-title">Work</h2>

            <section class="timeline">
                <div class="container">
                    <div class="timeline-item">
                        <div class="timeline-img"></div>

                        <div class="timeline-content js--fadeInLeft">
                            <h2>OliveAI</h2>
                            <div class="date">Oct 2021 - Present</div>
                            <div class="work-experience-content">
                                <ul class="work-experience-list">
                                    <li>
                                        Led a project architecture change using
                                        design patterns that made the product
                                        scalable and reduced the engineering
                                        build time from 3 months to 1 month.
                                    </li>
                                    <li>
                                        Built good dynamics in a team of six
                                        talented engineers where trust is
                                        established and increased our
                                        productivity by 10%.
                                    </li>
                                    <li>
                                        <b>Tech stack:</b> Reactjs, NextJs, MongoDB,
                                        MySQL, AWS
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="timeline-item">
                        <div class="timeline-img"></div>

                        <div
                            class="timeline-content timeline-card js--fadeInRight"
                        >
                            <h2>Neem Analytics</h2>
                            <div class="date">Oct 2017 - Oct 2021</div>
                            <ul class="work-experience-list">
                                <li>
                                    Developed a robust purchasing model in .Net
                                    which Increased over 10% of profits for our
                                    pharmacy clients.
                                </li>
                                <li>
                                    Build multiple applications as SaaS for
                                    independent pharmacies to optimize their
                                    purchasing, inventory, delivery etc
                                </li>
                                <li>
                                    <b>Tech stack:</b> C#, .Net core, Angular, MS
                                    SQL server, swift.
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="timeline-item">
                        <div class="timeline-img"></div>

                        <div
                            class="timeline-content timeline-card js--fadeInLeft"
                        >
                            <h2>Miami Luken</h2>
                            <div class="date">Dec 2016 - Oct 2017</div>
                            <ul class="work-experience-list">
                                <li>
                                    Developed an internal web application using
                                    ASP.Net MVC that made our organization’s
                                    employee performance evaluation process
                                    seamless and more efficient by reducing
                                    paper to 95%.
                                </li>
                                <li>
                                    Developed an analytical tool for the
                                    independent pharmacies using ASP.Net MVC,
                                    which improved their efficiency in multiple
                                    ways like inventory management, Drug
                                    transfers, Prescriptions Management, and
                                    Customer Service.
                                </li>
                                <li>
                                    <b>Tech stack:</b> ASP .Net MVC, JQuery, Javascript,
                                    MS SQL Server, ASP.Net Web API, Angular.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </section>

        <!--====== Articles ====-->
        <section class="articles section" id="articles">
            <h2 class="section-title">Articles</h2>
            <ul role="list" class="link-card-grid">
                <Card
                    href="https://medium.com/swlh/how-i-practice-angular-ngrx-by-building-tesla-custom-order-process-clone-99780d06bf8b"
                    title="One of the Best Possible Ways to Learn Angular NgRx"
                    body="I’ll start by sharing how did I end up writing an article explaining Angular NgRx. For the past two weeks, I was contemplating on choosing an idea to build an Angular application to demonstrate Angular NgRx in the best possible way...."
                />
                <Card
                    href="https://medium.com/swlh/how-i-created-a-recipe-app-using-angular-firebase-and-rapidapi-6e87f28f338d"
                    title="How I Created a Recipe App Using Angular, Firebase and RapidAPI"
                    body="Today, I will share my journey of building and hosting a Recipe app using Angular, Firebase (for hosting the angular app), and a public API called Recipe-Food-Nutrition by spoonacular hosted at RapidAPI..."
                />
                <Card
                    href="https://sai-dharmendra-kanneganti.medium.com/how-to-setup-angular-material-firebase-698d6a9844a2"
                    title="How to setup Angular, Material & Firebase"
                    body="This article will walk you through the steps of setting up an angular application, adding material library for UI components and firebase to host the application..."
                />
            </ul>
        </section>
    </main>

    <!--===== FOOTER =====-->
    <footer class="footer">
        <p class="footer__title">Dharma</p>
        <div class="footer__social">
            <a
                href="https://www.linkedin.com/in/sai-dharmendra-kanneganti-00229811b/"
                class="footer__icon"
                ><i class="bx bxl-linkedin"></i>
            </a>
            <a href="https://github.com/dharmendra94" class="footer__icon"
                ><i class="bx bxl-github"></i>
            </a>

            <a href="https://twitter.com/saiDharmendraK" class="footer__icon"
                ><i class="bx bxl-twitter"></i>
            </a>
        </div>
        <p class="footer__copy">
            &#169; Dharma kanneganti. All rights reserved
        </p>
    </footer>

    <!--===== SCROLL REVEAL =====-->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!--===== MAIN JS =====-->
    <script src="/assets/js/main.js" is:inline></script>
</Layout>
